root = true

[*]
end_of_line = lf
insert_final_newline = true
# In general, space is predominant over tab.
indent_style = space
# Support deep nest.
indent_size = 2

[{**/*.php,bin/cavalcade}]
indent_style = space
indent_size = 4
