# Typically, place in your /lib/systemd/system/ folder and sudo systemctl enable cavalcade.service
[Unit]
Description=CavalcadeRunner

[Service]
TimeoutStartSec=0
TimeoutStopSec=600
Restart=always
WorkingDirectory=/srv/www/webroot
User=www-data
ExecStart=/etc/cavalcade/bin/cavalcade-runner

[Install]
WantedBy=multi-user.target
